{% extends "base.html" %}

{% block content %}

<h1>Database Explorer</h1>

{% for t in tables %}

<div class="table-box">

<div class="table-header">

<h2>{{t[0]}}</h2>

<span>Rows: {{t[1]}}</span>
<span>Size: {{t[2]}} MB</span>

<button onclick="loadTable('{{t[0]}}')">
Open
</button>

</div>

<div id="table_{{t[0]}}" class="table-content hidden">

<div class="controls">

<input type="text"
placeholder="Search column..."
onkeyup="searchTable(this,'{{t[0]}}')">

<button onclick="flipCard('{{t[0]}}')">
Structure
</button>

</div>

<div class="flip-card">

<div class="flip-inner" id="flip_{{t[0]}}">

<!-- FRONT (DATA) -->

<div class="flip-front">

<table id="data_table_{{t[0]}}"></table>

</div>

<!-- BACK (STRUCTURE) -->

<div class="flip-back">

<table id="structure_table_{{t[0]}}"></table>

</div>

</div>

</div>

</div>

</div>

{% endfor %}

{% endblock %}